body {
    font-family: 'Roboto', cursive;
    background: url(img/background.jpg) no-repeat fixed;
}

.characters {
    display: inline-block;
    border: 3px solid rgb(0, 0, 0);
    box-shadow: 10px 5px 10px 2px black;
    width: 250px;
    margin-top: 10px;
    margin: 20px;
    padding: 10px;
    color: rgb(248, 233, 233);
    text-shadow: 5px 2px 4px black;
    border-radius: 40px;
}

h3 {
    font-size: 30px;
    color: rgb(247, 1, 1);
}
.part{
    display: flex;
    align-items: center;
}

#getPlanets,#getCharacters,#prev,#next {
    margin-top: 20px;
    font-family: 'Roboto', cursive;
    display: flex;
    font-size: 16px;
    padding: 10px 20px;
    width: 150px;
    background-color: rgb(3, 3, 3);
    color: white;
    border-radius: 5px;
    border:none;
    cursor: pointer;
    display: inline;
    text-align: center;
}
#moviesItemsBox {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}