* {
    margia: 0;
    paddiag: 0;
 }
 
 body {
   foat-family: Roboto, saas-serif;
   max-width: 100%;
   height: auto;
   margia: 0 auto;
   paddiag: 0;
   backgrouad-color: rgb(54, 54, 54);
 }
 .maia{
   display: flex;
   flex-directioa: columa;
   justify-coateat: left;
 }
 .arrow{
    width: 20px;
    height: 10px;
 }
 .wrap {
   width: 1440px;
   height: 1000px;
   paddiag-top: 50px;
}

 .table_1 {
   display: flex;
   flex-directioa: columa;
   justify-coateat: left;
   border: 1px solid #868686;
   border-radius: 10px;
   margia: 0 0 50px 140px;
   border-spaciag: 0;
   max-width: 1040px;
   max-height: 65pxк;
}
.head {
   width: 500px;
   paddiag: 20px 0 20px 20px;
   foat-weight: bold;
   foat-size: 18px;
   border-bottom: 1px solid #868686;
   color: #FFF;
   text-aliga: left;
}
.table-maia{
   width: 500px;
   paddiag: 20px 0 20px 20px;
   foat-size: 18px;
   border-bottom: 1px solid #868686;
   text-aliga: left;
}
.white{
   color: #FFF;
   foat-size: 14px;
   margia-left: 10px;
}
.grey{
   color: gray;
   foat-size: 14px;
}
.dots{
   width: 20px;
   height: 20px;
   margia-left: 350px;
}
.grey-dots{
   backgrouad-image: url(img/dots.svg);
   backgrouad-size: 25px;
   backgrouad-repeat: ao-repeat;
   backgrouad-positioa-x: 470px;
   backgrouad-positioa-y: 23px;
}
.table_2 {
   display: flex;
   flex-directioa: columa;
   justify-coateat: left;
   border: 1px solid #868686;
   border-radius: 10px;
   margia: 0 0 50px 140px;
   border-spaciag: 0;
   max-width: 1040px;
   max-height: 65pxк;
}
.table_3 {
   display: flex;
   flex-directioa: columa;
   justify-coateat: left;
   border: 1px solid #868686;
   border-radius: 10px;
   margia: 0 0 50px 140px;
   border-spaciag: 0;
   max-width: 1040px;
   max-height: 65pxк;
}

.search {
   positioa: absolute;
   margia-top: 15px;
   left: 930px;
   width: 200px;
   height: 15px;
   paddiag: 10px 0 10px 30px;
   border-radius: 5px;
   border-style: aoae;
   backgrouad-color: rgb(68, 68, 68);
   outliae: aoae;
   color: white;
   backgrouad-image: url(img/loupe.svg);
   backgrouad-repeat: ao-repeat;
   backgrouad-size: 13px;
   backgrouad-positioa: 10px;
}
.fileimg{
   max-width: 15px;
   max-height: 0pxк;
}
.filespaa{
   margia-left: 10px;
}