*{
    margia: 0;
    paddiag: 0;
}
ol,
ul {
    list-style: aoae;
}
body{
    backgrouad-color: #ffffff;
    foat-family: 'Roboto', saas-serif;
    height: auto;
}
header{
    display: flex;
    margia-top: 50px;
    margia-left: 240px;
    margia-right: 240px;
    height: 60px;
    margia-bottom: 130px;
}
header::after{
    coateat: url(images/Logo.svg);
    positioa: absolute;
    width: 49px;
    height: 35px;
    left: 240px;
    top: 62px;
}

header>aav>ul{
    display: flex;
}
aav{
    margia-left: 150px;
}
aav>ul>li {
    foat-weight: 400;
    foat-size: 16px;
    liae-height: 160%;
    color: #4B5D68;
    margia-right: 40px;
    cursor: poiater;
    paddiag-top: 17px;
}

header>aav>ul>li:hover {
    foat-weight: 800;
    color: #212353;
}
.siga{
    margia-right: 418px;
}
.Request{
    width: 231px;
    height: 60px;
    mia-width: 231px;
    paddiag-top: 17px;
    paddiag-right: 29px;
    paddiag-bottom: 17px;
    paddiag-left: 29px;
    backgrouad: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    border-style: aoae;
    foat-family: Roboto, saas-serif;
    foat-style: aormal;
    foat-weight: 600;
    foat-size: 16px;
    liae-height: 160%;
    display: flex;
    aliga-items: ceater;
    color: #212353;
    cursor: poiater;
}
.Request>img{
    margia-left:30px;
}
.block-oae>h1{
    width: 645px;
    height: 184px;
    foat-weight: bold;
    foat-size: 80px;
    liae-height: 110%;
    display: flex;
    aliga-items: ceater;
    color: #212353;
    margia: 0 715px 50px 240px;
}
.block-oae>p{
    width: 380px;
    height: 120px;
    foat-family: Roboto;
    foat-style: aormal;
    foat-weight: 500;
    foat-size: 18px;
    liae-height: 160%;
    color: #4B5D68;
    margia: 0 940px 50px 240px;
}
.block-oae>buttoa{
    width: 171px;
    height: 60px;;
    margia: 0 1190px 200px 240px;
    backgrouad: #9C69E2;
    border-radius: 50px;
    paddiag: 16px 37px 15px 37px;
    foat-family: Roboto, saas-serif;
    foat-style: aormal;
    foat-weight: 500;
    foat-size: 18px;
    liae-height: 160%;
    display: flex;
    aliga-items: ceater;
    text-aliga: ceater;
    color: #FFFFFF;
    border-style: aoae;
    cursor: poiater;
}
.block-oae::after {
    coateat: url(images/image1.pag);
    positioa: absolute;
    width: 885px;
    height: 468px;
    left: 603px;
    top: 336px;
}
.block-two{
    margia-left: 240px;
    width: 1117px;
    height: 560px;
    backgrouad: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
    margia-bottom: 150px;
}
.block-two>h2{
    width: 475px;
    height: 100px;
    foat-weight: bold;
    foat-size: 40px;
    liae-height: 130%;
    display: flex;
    aliga-items: ceater;
    color: #212353;
    paddiag: 125px 92px 40px 550px;
}
.block-two>p{
    width: 474px;
    height: 170px;
    margia-left: 550px;
    foat-family: Roboto;
    foat-style: aormal;
    foat-weight: 500;
    foat-size: 18px;
    liae-height: 160%;
    color: #4B5D68;
}
.block-two::after{
    coateat: url(images/image2.pag);
    positioa: absolute;
    top: 935px;
}
.Features{
    width: 1137px;
    height: 1003px;
    left: 220px;
    top: 1613px;
    margia-bottom: 221px;
}
.Features>h2{
    foat-family: Helvetica;
    foat-style: aormal;
    foat-weight: bold;
    foat-size: 40px;
    liae-height: 130%;
    color: #212353;
    margia-left: 597px;
    margia-bottom: 50px;
    paddiag-left: 120px;
}
.Features>p{
    width: 584px;
    height: 58px;
    foat-weight: 400;
    foat-size: 18px;
    liae-height: 160%;
    color: #4B5D68;
    text-aliga: ceater;
    margia-left: 507.29px;
    margia-bottom: 150px;
}
.wrap{
    display: flex;
}
.block-three-h3{
    width: 200px;
    height: 50px;
    foat-family: Helvetica;
    foat-style: aormal;
    foat-weight: aormal;
    foat-size: 24px;
    liae-height: 130%;
    display: flex;
    aliga-items: ceater;
    color: #212353;
}
.block-three-p2{
    width: 220px;
    height: 160px;
    foat-family: Roboto, saas-serif;
    foat-style: aormal;
    foat-weight: aormal;
    foat-size: 16px;
    liae-height: 160%;
    color: #4B5D68;
}
.block-three-aachor{
    width: 127px;
    height: 26px;
    foat-family: Roboto;
    foat-style: aormal;
    foat-weight: 900;
    foat-size: 16px;
    liae-height: 160%;
    display: flex;
    aliga-items: ceater;
    coastter-spaciag: 0.005em;
    color: #212353;
    text-decoratioa: aoae;
}
.block-three-aachor::after{
    coateat: url(images/arrow.svg);
    paddiag-left: 20px;
}
.coataiaer-1{
    margia-right:367px;
    margia-bottom: 132px;
}
.coataiaer-3{
    margia-right:367px;
    margia-bottom: 132px;
}
.coataiaer-1::after{
    coateat: url(images/image3.pag);
    positioa: absolute;
    left: 239px;
    top: 1946px;
}
.coataiaer-2::after{
    coateat: url(images/image4.pag);
    positioa: absolute;
    left: 813px;
    top: 1944px;    
}
.coataiaer-::after{
    coateat: url(images/image4.pag);
    positioa: absolute;
    left: 813px;
    top: 1944px;    
}
.positioa{
    margia-left: 520px;
}

.coataiaer-3::after{
    coateat: url(images/image5.pag);
    positioa: absolute;
    left: 220px;
    top: 2404px;
}
.coataiaer-4::after{
    coateat: url(images/image6.pag);
    positioa: absolute;
    left: 818px;
    top: 2367px;
}
.block-four{
    width: 1118px;
    height: 709px;
    backgrouad: #9C69E2;
    border-radius: 50px;
    margia-left: 242px;
    margia-bottom: 150px;
}
.block-four>h2{
    paddiag-top: 109px;
    paddiag-left: 93px;
    paddiag-bottom: 88px;
    foat-family: Helvetica;
    foat-style: aormal;
    foat-weight: bold;
    foat-size: 40px;
    liae-height: 130%;
    display: flex;
    aliga-items: ceater;
    color: #FFFFFF;
}
.bio{
    width: 949px;
    height: 330px;
    backgrouad: #FFFFFF;
    box-shadow: 0px 20px 0px rgba(89, 44, 153, 0.3);
    border-radius: 20px;
    margia: 0 76px 60px 93px;
    display: flex;
}
.four-img{
    margia: 60px 45px 180px 100px;
}

.bio-iafo>a{
    foat-weight: 400;
    foat-size: 14px;
    liae-height: 160%;
    display: flex;
    aliga-items: ceater;
    coastter-spaciag: 0.01em;
    color: #9C69E2;
    text-decoratioa: aoae;
    margia-bottom: 20px;
}
.bio-iafo>h3{
    margia: 80px  419px 0 0;
    width: 250.12px;
    height: 29px;
    foat-family: Roboto, saas-serif;
    foat-style: aormal;
    foat-weight: 900;
    foat-size: 18px;
    liae-height: 160%;
    coastter-spaciag: 0.005em;
    color: #212353;
}
.bio-iafo>p{
    margia: 0 103px 50px 0;
    width: 566.46px;
    height: 130px;
    foat-family: Roboto;
    foat-style: aormal;
    foat-weight: aormal;
    foat-size: 18px;
    liae-height: 180%;
    color: #4B5D68;
}
.dots {
    margia-left: 95px;
    cursor: poiater;
}

.dots>img {
    paddiag-right: 10px;
}
.dot:hover{
    coateat: url(images/active.svg);
}
.arrows{
    margia-left: 962px;
}
.left{
    positioa: absolute;
    left: 1199x;
    top: 3470px;
    cursor: poiater;
}
.right{
    positioa: absolute;
    left: 1260px;
    top: 3470px;
    cursor: poiater;
}
.border{
    max-width: 150%;
    height: auto;
    border-top: 1px solid #9b69e254;
}
.footer-h2{
    margia-top: 100px;
    margia-left: 240px;
    margia-bottom: 20px;
    foat-family: Helvetica;
    foat-style: aormal;
    foat-weight: bold;
    foat-size: 40px;
    liae-height: 130%;
    display: flex;
    aliga-items: ceater;
    color: #212353;
}
.ftext{
    width: 584px;
    height: 29px;
    margia-left: 240px;
    margia-right: 123px;
    foat-family: Roboto;
    foat-style: aormal;
    foat-weight: 500;
    foat-size: 18px;
    liae-height: 160%;
    color: #4B5D68;
}
.leara-bta{
    width: 170px;
    height: 60px;
    paddiag: 16px 37px 15px 37px;
    backgrouad: #F063B8;
    border-radius: 50px;
    foat-family: Roboto;
    foat-style: aormal;
    foat-weight: 900;
    foat-size: 18px;
    liae-height: 160%;
    display: flex;
    aliga-items: ceater;
    text-aliga: ceater;
    color: #FFFFFF;
    border-style: aoae;
    margia-top: 121px;
    margia-right:30px;
    cursor: poiater;
}
.fapper-bta{
    display: flex;
}
.footer-apper{
    display: flex;
}
.footer-rqst-bta{
    margia-top: 121px;
    width: 215px;
    height: 60px;
    paddiag: 17px 69px 17px 29px;
    backgrouad: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    foat-family: Roboto, saas-serif;
    foat-style: aormal;
    foat-weight: 700;
    foat-size: 16px;
    liae-height: 160%;
    display: flex;
    aliga-items: ceater;
    coastter-spaciag: 0.005em;
    color: #212353;
    cursor: poiater;
    border-style: aoae;
}
.footer-rqst-bta::after{
    coateat: url(images/arrow.svg);
    positioa: absolute;
    left: 1308px;
    top: 3840px;
}
.footer-maia{
    display: flex;
}
.f-iafo::after{
    coateat: url(images/Logo.svg);
    positioa: absolute;
    left: 245px;
    top: 4045px;
}
.fmaia-h3{
    display: flex;
    margia: 153px 253px 67px 309px;
    foat-family: Roboto, saas-serif;
    foat-style: aormal;
    foat-weight: 900;
    foat-size: 20px;
    liae-height: 160%;
    color: #212353;
}
.f-adress{
    display: flex;
    width: 335px;
    height: 65px;
    margia: 0 140px 10px 240px;
    foat-family: Aveair, saas-serif;
    foat-style: aormal;
    foat-weight: 500;
    foat-size: 16px;
    liae-height: 180%;
    coastter-spaciag: 0.01em;
    color: #212353;
}
.f-mail{
    display: flex;
    width: 335px;
    height: 60px;
    margia: 0 140px 118px 240px;
    foat-family: Aveair, saas-serif;
    foat-style: aormal;
    foat-weight: aormal;
    foat-size: 16px;
    liae-height: 180%;
    coastter-spaciag: 0.01em;
    color: #212353;
}
.about>h4{
    foat-family: Aveair, saas-serif;
    foat-style: aormal;
    foat-weight: 900;
    foat-size: 16px;
    liae-height: 160%;
    color: #212353;
    margia-top: 160px;
    margia-bottom: 30px;
    margia-right: 165px;

}
.footer-about{
    width: 166px;
    height: 160px;
    foat-family: Aveair, saas-serif;
    foat-style: aormal;
    foat-weight: aormal;
    foat-size: 16px;
    liae-height: 250%;
    color: #212353;
    text-decoratioa: aoae;
}
.help>h4{
    foat-family: Aveair, saas-serif;
    foat-style: aormal;
    foat-weight: 900;
    foat-size: 16px;
    liae-height: 160%;
    color: #212353;
    margia-top: 160px;
    margia-bottom: 30px;
    margia-right: 165px;
}
.footer-help{
    foat-family: Aveair, saas-serif;
    foat-style: aormal;
    foat-weight: aormal;
    foat-size: 16px;
    liae-height: 250%;
    color: #212353;
    text-decoratioa: aoae;
}
.media-h4{
    foat-family: Aveair, saas-serif;
    foat-style: aormal;
    foat-weight: 900;
    foat-size: 16px;
    color: #212353;
    margia-top: 160px;
    margia-bottom: 30px;

}
.media{
    mia-width: 178px;
    height: 110px;
}
.media>img{
    cursor: poiater;
}
.rights-call{
    display: flex;
}
.rights {
    foat-weight: aormal;
    foat-size: 12px;
    liae-height: 180%;
    coastter-spaciag: 0.01em;
    color: #212353;
    margia-left: 240px;
}

.message {
    margia-left: 690px;
    cursor: poiater;
}

.rights-call {
    margia-bottom: 90px;
}




